.d-none {
  display: none !important;
}

.no-scroll {
  overflow: hidden;
}

.d-l {
  display: none;
}

.zoom-hover {
  transition: transform $transition;
  @media (any-hover: hover) {
    &:hover {
      transform: scale(1.1);
    }
  }
}

@media (min-width: $desktopSizeM) {
  .d-l {
    display: block;
  }

  .d-s {
    display: none;
  }
}
