$tabletSize: 768px;
$desktopSizeM: 1024px;
$desktopSizeL: 1440px;

$containerWidth: 500px;
$containerTabletMaxWidth: 800px;
$containerdesktopSizeMMaxWidth: 1100px;
$containerdesktopSizeLMaxWidth: 1300px;

$font-main: "Poppins", sans-serif;
$font-accent: "Playfair Display", serif;

$containerPadding: 15px;

$transition: 0.3s ease;

$inputBg: rgba(32, 38, 31, 0.54);

:root {
  --container-width: #{$containerWidth};
  --container-padding: #{$containerPadding};
  --font-main: #{$font-main};
  --font-accent: #{$font-accent};

  --page-bg: #fff;
  --text-color: #000;
  --accent: #ac182c;

  --input-bg: #{$inputBg};
  --caret-color: var(--text-color);

  @media (min-width: $tabletSize) {
    --container-width: #{$containerTabletMaxWidth};
  }

  @media (min-width: $desktopSizeM) {
    --container-width: #{$containerdesktopSizeMMaxWidth};
  }

  @media (min-width: $desktopSizeL) {
    --container-width: #{$containerdesktopSizeLMaxWidth};
  }
}

.dark {
  --page-bg: #252526;
  --text-color: #fff;
}
